body {
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  padding-top: 10%;
  word-wrap: break-word;
}

.logo {
  width: 250px;
  height: 250px;
}